<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RangeFinderManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RangeFinderManager.Properties.Settings>
            <setting name="LastCom" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LastConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HLG2IP" serializeAs="String">
                <value>192.168.1.6</value>
            </setting>
            <setting name="HLG2Port" serializeAs="String">
                <value>502</value>
            </setting>
        </RangeFinderManager.Properties.Settings>
    </userSettings>
</configuration>