<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Machine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Machine.Properties.Settings>
            <setting name="Machine" serializeAs="String">
                <value>Simu</value>
            </setting>
            <setting name="FormulaFile" serializeAs="String">
                <value>Formula.fml</value>
            </setting>
            <setting name="MotionMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRetractEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feed" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="FocusFeed" serializeAs="String">
                <value>500</value>
            </setting>
        </Machine.Properties.Settings>
    </userSettings>
</configuration>